.navbar {
    --bs-navbar-padding-y: 0.5rem;
    border-bottom: groove;
}

.footer-link {
    padding: 0.5%;
}

body {
    overflow-x: hidden;
}

.nav-item {
    position: relative;
}
  
a.navbar-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

.about-image {
    width: 40% !important;
    align-self: center;
}

.navbar-brand > img {
    background-size: 40px;
    background-repeat: no-repeat;
    width: 100%;
}
