h2 {
    text-align: left;
    border-bottom: none;
    padding-left: 10px;
    border-left-width: 25px;
    margin-left: -35px;
    border-left-style: solid;
    border-left-color: rgba(181, 16, 25, 0.5);
}

@media (min-width: 992px) {
    .about-entity .about-link {
        width: 2.2em;
        text-align: center;
    }
}

@media (max-width: 991.99px) {
    .about-entity .about-link {
        width: 48%;
        text-align: center;
    }

    .about-entity .about-links {
        flex-flow: wrap !important;
        width: 100%;
        justify-content: center !important;
        gap: 2%;
    }
}